// Navigation code here
// html {
//     background: red;
// }
.navi {
    width: 100%;
    .flex(column, wrap, center, center);
    .pad(30px, 15px, 0, 0);
    h1{
        font-size: 3.9rem;
        .pad(15px, 15px, 15px, 15px);
    }
    a {
        .pad( 15px, 10px, 15px, 15px);
        text-decoration: none;
        font-size: 1.6rem;
        font-family: 'Ubuntu', sans-serif;
        color: @header-font-color;
    
    }
}


.intro {
    width: 100%;
    .pad(0px, 0px, 5px, 10px);
    .flex( column, nowrap, center, flex-start);
        
     @media @phone {
            .intro {
            width: 100%;
            margin: 0 auto;
            .pad(0px, 0px, 5px, 5px);
            .flex( column, nowrap, flex-start, center);
            }
            
        }

        img {
            .pad(5px, 0px, 0, 0);
            border-radius: 8px;
        
            @media @phone {
                .flex(column, wrap, flex-start, center);
                width: 100%;
                margin: 0 auto;
                img {
                    width: 100%;
                    margin: 0 auto;
                }
            }
        }
            h2 {
               .pad(0px, 10px, 0, 0);
            }

            @media @phone {
                p {
                    // width: 100%;
                    // justify-content: flex-start;
                    // margin: auto;
                    // padding: none;
                }
            }
            
}

@media @phone {

    .space-images {
            width: 100%;
            height: auto;
            margin: auto;
           .flex(row, wrap, center, center);
            border: 1px solid red;
    }

        .blast {
            width: 100%;
            height: auto;
            margin: auto;
            border: 1px solid red;
        }
        .sky {
            display: none;
        }
        .launch {
            display: none;
        }
    }



